html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 100;
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: #525252;
		--shadow-color: #C6C6C6;
		--background-color: #F4F4F4;
	}
	
	body {
  	background-color: var(--background-color);
		color: var(--text-color);
  }
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #E0E0E0;
		--shadow-color: #000000;
		--background-color: #161616;
	}

	body {
  	background-color: var(--background-color);
		color: var(--text-color);
  }
}
